body{
  font-family: 'Raleway', sans-serif;

}
.h1{
  font-family: 'Raleway', sans-serif;
  justify-content: center;
}

.container {
  display: flex;
  flex-grow:1;
  flex-direction: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child {
  
 
  text-align: center;
  padding: 20px 30px;
}

#box-one, #box-two{
  display: inline-block;
   border: 3px solid gray;
 

}
#box-three {

  #box-three.label{
    text-align: center;
  }
  text-align: center;

  
}
